<!DOCTYPE html>
<%- include('_header') %>
  <body>
    <div class="container">
      <% if (user != null) { %>
        <div>Logged in as: <%= user %></div>
      <%} %>
      
      <h1 class="mb-4">Articles</h1>
     
      <% if (user == null) { %>
      <a href="/login" class="btn btn-info">Login</a>
      <a href="/register" class="btn btn-info">Register</a>
      <%} else { %>
       <a href="/articles/new" class="btn btn-success">New Article</a>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
      
      <%} %> 
      <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>

          <% if (user_id != null && user_id == article.user_id) { %>
          <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
          <button class="btn btn-danger" value="<%= article.id %>" id="delete">Delete article</button>
          <!-- use FORM because of DELETE method, otherwise google bot when go througt the site will click on delete!!!! 
          <form action="/articles/<%= // article.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form> -->
           <% } %>

        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
